@model IEnumerable<SystemWypozyczalniGier.Tables.GameCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Details" asp-route-gameId="@item.GameId" asp-route-category="@item.Category">Details</a> |
                <a asp-action="Delete" asp-route-gameId="@item.GameId" asp-route-category="@item.Category">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
