@model SystemWypozyczalniGier.Tables.Game
@using SystemWypozyczalniGier.Enumerations

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/Games/games-style.css" />
</head>

<h1>Szczegóły gry</h1>

<hr />

<div class="form-table">
    <div class="form-column">

        <div class="form-group">
            <label asp-for="Title" class="control-label">Tytuł</label>
            <span class="form-control">@Model.Title</span>
        </div>
        <div class="form-group">
            <label asp-for="PublisherId" class="control-label">Wydawca</label>
            <span class="form-control">@Model.PublisherId</span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label">Opis</label>
            <span class="form-control">@Model.Description</span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Cena</label>
            <span class="form-control">@Model.Price</span>
        </div>
        <div class="form-group">
            <label asp-for="QuantityInStock" class="control-label">Liczba dostępnych sztuk</label>
            <span class="form-control">@Model.QuantityInStock</span>
        </div>
        <div class="form-group">
            <label asp-for="MaxQuantity" class="control-label">Maksymalna liczba sztuk</label>
            <span class="form-control">@Model.MaxQuantity</span>
        </div>
        <div class="form-group">
            <label asp-for="Accessibility" class="control-label">Dostępność</label>
            <span class="form-control">@Model.Accessibility</span>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="control-label">Przecena</label>
            <span class="form-control">@Model.Discount</span>
        </div>
        <div class="form-group">
            <label asp-for="Pegi" class="control-label">PEGI</label>
            <span class="form-control">@Model.Pegi</span>
        </div>
    </div>

    <div class="form-column">
        <label for="mainPhoto">Zdjęcie główne</label>
        <div class="form-group">
            <div class="main-div-parent">
                <div class="photo-frame photo-big main-div">
                    <img src="~/uploads/@Model.MainPhotoName" alt="Main Image">
                </div>
            </div>
        </div>
        <label for="thumbnailPhotos">Miniaturki</label>
        <div class="form-group">
            <div class="thumbnails-div">
                @{
                    var counter = 0;
                }
                @foreach (var thumbnail in new[] { Model.Photo1Name, Model.Photo2Name, Model.Photo3Name,
                Model.Photo4Name })
                {
                    @if (!string.IsNullOrEmpty(thumbnail))
                    {
                        counter++;
                        <div class="photo-frame photo-small thumbnail-div">
                            <img src="~/uploads/@thumbnail" alt="Thumbnail Image">
                        </div>
                    }
                }
            </div>
        </div>
        <label for="categories">Kategorie</label>
        <div class="form-group">
            <div id="categories-div"></div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

<script src="~/js/Games/Create.js"></script>
<script>
    var parentDiv = document.getElementById("categories-div");
    var dropdown = document.getElementById("categories");
    var currentCategories = [];
    @foreach (var gameCategory in (IEnumerable<SelectListItem>) ViewBag.Categories)
    {       
        <text>
            parentDiv.appendChild(createNewCategoryNode('@gameCategory.Text'));
            currentCategories.push('@gameCategory.Text');
        </text>
    }
    for (var category of currentCategories) {
        for (var i = 0; i < dropdown.options.length; i++) {
            if (dropdown.options[i].value.toString() === category) {
                dropdown.options[i].selected = true;
                break;
            }
    }
}
    
    
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}