@model SystemWypozyczalniGier.Tables.Game
@using SystemWypozyczalniGier.Enumerations

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/css/Games/games-style.css" />
</head>

<h1>Edytuj dane gry</h1>

<hr />
<form asp-action="Edit" asp-route-id="@Model.GameId" method="post" enctype="multipart/form-data">
    <div class="form-table">
        <div class="form-column">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" placeholder="Podaj tytuł, np. Tetris..." />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label">Wydawca</label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <textarea rows="4" asp-for="Description" class="form-control"
                    placeholder="Podaj opis, np. Epicka gra..."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena</label>
                <input asp-for="Price" class="form-control" placeholder="Podaj cenę, np. 19.99..." />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStock" class="control-label">Liczba dostępnych sztuk</label>
                <input asp-for="QuantityInStock" class="form-control" placeholder="Podaj liczbę, np. 10" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxQuantity" class="control-label">Maksymalna liczba sztuk</label>
                <input asp-for="MaxQuantity" class="form-control" placeholder="Podaj liczbę, np. 10" />
                <span asp-validation-for="MaxQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accessibility" class="control-label">Dostępność</label>
                <select asp-for="Accessibility"
                    asp-items="@SystemWypozyczalniGier.Helpers.EnumerationsHelper.AccessibilitiesSelectItems"
                    class="form-control"></select>
                <span asp-validation-for="Accessibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Przecena</label>
                <input asp-for="Discount" class="form-control"
                    placeholder="Podaj liczbę z przedziału od 0.0 do 1.0, np. 0.15" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pegi" class="control-label">PEGI</label>
                <select asp-for="Pegi" asp-items="@SystemWypozyczalniGier.Helpers.EnumerationsHelper.PegiSelectItems"
                    class="form-control"></select>
                <span asp-validation-for="Pegi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aktualizuj" class="btn btn-primary light-blue" />
            </div>

        </div>
        @Html.HiddenFor(model => model.MainPhotoName)
        @Html.HiddenFor(model => model.Photo1Name)
        <div class="form-column">
            <label for="mainPhoto">Zdjęcie główne</label>
            <div class="form-group">
                <div class="main-div-parent">
                    <div class="photo-frame photo-big main-div">
                        <img src="~/uploads/@Model.MainPhotoName" alt="Main Image">
                    </div>
                    <input type="file" name="mainPhoto" id="main-photo-input" style="display: none;"
                        accept=".jpg, .jpeg, .png, .svg, .gif" onchange="updateFileInput(this)" required />
                </div>
                <small id="main-file-label">Wybierz zdjęcie do przesłania.</small>
            </div>
            <label for="thumbnailPhotos">Miniaturki</label>
            <div class="form-group">
                <div class="thumbnails-div">
                    @{
                        var counter = 0;
                    }
                    @foreach (var thumbnail in new [] { Model.Photo1Name, Model.Photo2Name, Model.Photo3Name,
                    Model.Photo4Name })
                    {
                        @if (!string.IsNullOrEmpty(thumbnail))
                        {
                            counter++;
                            <div class="photo-frame photo-small thumbnail-div" onclick="document.getElementById('thumbnail-photo-input').click()">
                                <img src="~/uploads/@thumbnail" alt="Thumbnail Image">
                            </div>
                        }
                    }
                    @if (counter != 4)
                    {
                        <div class="photo-placeholder photo-small thumbnail-div" onclick="document.getElementById('thumbnail-photo-input').click()">
                            <img src="~/images/add_photo.png" alt="Placeholder Image">
                        </div>
                    }
                    <input type="file" name="thumbnailPhotos" id="thumbnail-photo-input" style="display: none;"
                        accept=".jpg, .jpeg, .png, .svg, .gif" onchange="updateThumbnails(this)" multiple required />
                </div>
                <small id="thumbnails-file-label">Wybierz od jednej do czterech miniaturek</small>
            </div>
            <label for="categories">Kategorie</label>
            <div class="form-group">
                <select id="categories" name="categories" multiple>

                    @foreach (var category in Enum.GetValues(typeof(Category)))
                    {
                        <option value="@category">@category</option>
                    }
                </select>
                <div id="categories-div"></div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Powrót</a>
</div>

<script src="~/js/Games/Create.js"></script>
<script>
    var parentDiv = document.getElementById("categories-div");
    var dropdown = document.getElementById("categories");
    var currentCategories = [];
    @foreach (var gameCategory in (IEnumerable<SelectListItem>) ViewBag.Categories)
    {       
        <text>
            parentDiv.appendChild(createNewCategoryNode('@gameCategory.Text'));
            currentCategories.push('@gameCategory.Text');
        </text>
    }
    for (var category of currentCategories) {
        for (var i = 0; i < dropdown.options.length; i++) {
            if (dropdown.options[i].value.toString() === category) {
                dropdown.options[i].selected = true;
                break;
            }
    }
}
    
    
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
