@model IEnumerable<SystemWypozyczalniGier.Tables.Game>

@{
    ViewData["Title"] = "Panel gier";
}

<head>
    <link rel="stylesheet" href="~/css/Games/games-style.css" />
</head>

<h1>Panel gier</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Wydawca
            </th>
            <th>
                Opis
            </th>
            <th>
                Cena
            </th>
            <th>
                Liczba dost. sztuk
            </th>
            <th>
                Max. liczba sztuk
            </th>
            <th>
                Dostępność
            </th>
            <th>
                Znizka 
            </th>
            <th>
                PEGI
            </th>
            <th>
                Zdjęcie główne
            </th>
            <th>
                Liczba miniaturek
            </th>
            <th>
                <a class="button-link light-blue" asp-action="Create">
                    <img src="~/images/plus.png" alt="Edytuj" />
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.GameId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accessibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pegi)
            </td>

            <td>
                <img class="main-thumbnail" src="~/uploads/@item.MainPhotoName"/>
            </td>

            <td>
                @{ 
                    var counter = 0;
                    counter += @item.Photo1Name == null ? 0 : 1;
                    counter += @item.Photo2Name == null ? 0 : 1;
                    counter += @item.Photo3Name == null ? 0 : 1;
                    counter += @item.Photo4Name == null ? 0 : 1;
                }
                @counter
            </td>

            <td>
                
                <a class="button-link light-orange" asp-action="Edit" asp-route-id="@item.GameId">
                    <img src="~/images/edit.png" alt="Edytuj" />
                </a>
                <a class="button-link light-green" asp-action="Discount" asp-route-id="@item.GameId">
                    <img src="~/images/discount.png" alt="Przeceń" />
                </a>
                <a class="button-link light-red" asp-action="Delete" asp-route-id="@item.GameId">
                    <img src="~/images/trash.png" alt="Usuń" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
