@model SystemWypozyczalniGier.Tables.Game
@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/game-details-style.css" />
</head>

<div class="main-layout">
    <div class="images-section">
        <img src="~/uploads/@Model.MainPhotoName" class="main-image">

        <div class="row">
            @foreach (var item in new List<string?>() {Model.MainPhotoName, Model.Photo1Name, Model.Photo2Name, Model.Photo3Name, Model.Photo4Name })
            {
                @if (item is not null)
                {
                    <img src="~/uploads/@item" class="mini-image">
                }
            }
        </div>
    </div>
    <div class="game-section">
        <div class="top-game-section">
            <div class="info">
                <h1 class="no-margin-and-padding">@Model.Title</h1>
                <div class="row">
                    @for (float i = 0; i < 5; i++)
                    {
                        if (ViewBag.AverageMark >= i + 1)
                        {
                        <img src="~/images/full_star.png" class="star">
                        }
                        else if (ViewBag.AverageMark >= i + 0.5f)
                        {
                        <img src="~/images/half_star.png" class="star">
                        }
                        else
                        {
                        <img src="~/images/empty_star.png" class="star">
                        }
                    }
                </div>
                <h3 class="no-margin-and-padding">Ocena: @ViewBag.AverageMark.ToString("F1")/5</h3>
                <a class="reviews-link">Zobacz opinie</a>
            </div>
            <div class="buy-tile tile">
                <div class="price-container">
                    <h4 class="no-margin-and-padding">Cena:</h4>
                    <div>
                        <h5 class="buy-tile-discounted-price" style="display: @(Model.IsDiscounted ? "block" : "none")">@Model.Price zł</h5>
                        <h4 class="no-margin-and-padding">@Model.DiscountedPrice.ToString("F2") zł</h4>
                    </div>
                </div>
                <h4 class="no-margin-and-padding">Okres: 30 dni</h4>
                @if (ViewBag.RentalEnd != "")
                {
                    <form class="button-form">
                        <button type="reset" class="small-font-button regular-button">Wypożyczone do @ViewBag.RentalEnd</button>
                    </form>
                }
                else if (ViewBag.InCart)
                {
                    <form asp-action="RemoveFromCart" asp-route-id="@Model.GameId" method="post" class="button-form">
                        <button type="submit" class="cancel-button">Usuń z koszyka</button>
                    </form>
                }
                else if (Model.QuantityInStock <= 0)
                {
                    <form class="button-form">
                        <button type="reset" class="small-font-button locked-button">Gra czasowo niedostępna</button>
                    </form>
                }
                else
                {
                    <form asp-action="AddToCart" asp-route-id="@Model.GameId" method="post" class="button-form">
                        <button type="submit" class="regular-button">Dodaj do koszyka</button>
                    </form>
                }
            </div>
        </div>
        <div class="bottom-game-section">
            <h3 class="no-margin-and-padding">Opis</h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const topGameSectionWidth = document.querySelector('.top-game-section').offsetWidth;
        const bottomGameSection = document.querySelector('.bottom-game-section');
        bottomGameSection.style.width = topGameSectionWidth + 'px';

        const mainImage = document.querySelector('.main-image')
        const miniImages = document.querySelectorAll('.mini-image')

        function changeMainImage(event) {
            miniImages.forEach(function (miniImage) {
                if (miniImage.src == mainImage.src)
                    miniImage.hidden = false;
            })

            event.target.hidden = true;
            mainImage.src = event.target.src;
        }

        miniImages.forEach(function (miniImage) {
            miniImage.addEventListener('click', changeMainImage)

            if (miniImage.src == mainImage.src)
                miniImage.hidden = true;
        })
    });
</script>
