@model SystemWypozyczalniGier.Models.GameViewModel
@using SystemWypozyczalniGier.Enumerations

@{
    ViewData["Title"] = "Przeglądaj gry";
}

<head>
    <link rel="stylesheet" href="~/css/games.css" />
</head>

<h1>Przeglądaj gry</h1>

<div>
    <form asp-action="Index" method="get">
        <div>
            <input type="text" name="title" value="@ViewData["TitleFilter"]" class="text-box"/>
            <input type="submit" value="Wyszukaj" class="details-button" />
        </div>

        <div class="dropdown">
            <button class="dropdown-button">Kategorie ⋁</button>

            <div class="dropdown-content">
                @foreach(var category in Model.FilterCategories)
                {               
                    <div class="content">
                        <input type="checkbox" name="categories" value="@category"/>
                        <span>@category.ToString()</span>     
                    </div>                               
                }
            </div>
            
        </div>

        <input type="submit" value="Filtruj" class="details-button" />
        <br/>
        
        <a asp-action="Index">Wyczyść filtry</a>
    </form>
</div>

<div style="margin-bottom:100px;">
    Wybrane filtry: @ViewData["CategoryFilter"]
</div>

<div style="margin-bottom:500px;">
    @if (Model.Games.Count() == 0)
    {
        <span class="not-found-text">
            Nie znaleziono gry pasującej do wybranych filtrów.
        </span>
    }
    else
    {
        <div>
            <span>
                Znaleziono @Model.Games.Count() wyników
            </span>
        </div>

        @foreach (var game in Model.Games)
        {
            var averageMark = game.Reviews.Count > 0 ?
                (float)game.Reviews.Aggregate(0, (acc, r) => acc + r.Mark) / game.Reviews.Count :
                5;

            <div class="game-tile">
                <div class="game-info">
                    <h5 class="game-mark">Ocena: @averageMark.ToString("F1")/5.0</h5><br/>

                    <div class="game-mark row">
                        @for (float i = 0; i < 5; i++)
                        {
                            if (averageMark >= i + 1)
                            {
                                <img src="~/images/full_star.png" class="star">
                            }
                            else if (averageMark >= i + 0.5f)
                            {
                                <img src="~/images/half_star.png" class="star">
                            }
                            else
                            {
                                <img src="~/images/empty_star.png" class="star">
                            }
                        }
                    </div>              

                    <img src="~/uploads/@game.MainPhotoName" class="game-image">
                    <h3>@game.Title</h3>
                    <h5>Od: @game.Publisher.Name</h5>       
                </div>

                <div class="game-side-info">
                    <h5>Cena: @game.Price zł</h5>
                    <button class=details-button>
                        <a asp-action="Details" asp-route-id="@game.GameId" style="text-decoration:none;color:inherit;">Szczegóły gry</a>
                    </button>
                </div>    
            </div>
        }
    }
</div>
