@model IEnumerable<SystemWypozyczalniGier.Tables.Game>

@{
    ViewData["Title"] = "Przeglądaj gry";
}

<head>
    <link rel="stylesheet" href="~/css/cart-style.css" />
</head>

<h1>Przeglądaj gry</h1>

@foreach (var game in Model)
{
    var averageMark = game.Reviews.Count > 0 ?
        (float)game.Reviews.Aggregate(0, (acc, r) => acc + r.Mark) / game.Reviews.Count :
        5;

    <div class="game-element tile" style="display:inline-block;margin:5pt;">
        <img src="~/uploads/@game.MainPhotoName" class="game-image">

        <div class="game-info">
            <h3 class="no-margin-and-padding">@game.Title</h3>
            <h5 class="no-margin-and-padding">Od: @game.Publisher.Name</h5>

            <div class="row">
                @for (float i = 0; i < 5; i++)
                {
                    if (averageMark >= i + 1)
                    {
                        <img src="~/images/full_star.png" class="star">
                    }
                    else if (averageMark >= i + 0.5f)
                    {
                        <img src="~/images/half_star.png" class="star">
                    }
                    else
                    {
                        <img src="~/images/empty_star.png" class="star">
                    }
                }
            </div>

            <h5 class="no-margin-and-padding">Ocena: @averageMark.ToString("F1")/5</h5>
        </div>

        <div class="game-side-info">
            <h5 class="game-side-info-text">Cena: @game.Price zł</h5>
        </div>    

        <button class=summary-button>
            <a asp-action="Details" asp-route-id="@game.GameId" style="text-decoration:none;color:inherit;">Sczegóły gry</a>
        </button>
    </div>
}